page-timer {
    min-width: 350px;
    div.scroll-content{
        background: color($colors, dark);
    }    
    div.time{
        width: 100%;
        color: white;
        h1{
            font-size: 5em;
            color: white;
            &.lookTime {
              color: color($colors, primary);  
            }
            &.running {
                color: color($colors, secondary);  
            }
        }
    }

    div.date > p {
        margin: 0px 10px;
        color: white;
    }

    div.content{
        display: grid;       
        padding: 0px 10px 10px 10px;
        div.recordTitle{
            font-size: 2.5em;
            border-bottom: 3px solid white;
            color: white;
            margin: 5px 0px 0px 0px;
        }

        div.avg {
            display: grid;
            font-size: 1.5em;
            grid-template-columns: 1fr 1fr;
            margin: 10px;
            span {
                margin: 0px;
                color:white;
            }
        }
        
        div.records{
            display: grid;            
            background: black;
            border-bottom: 7px solid #00bfb9;
            padding: 10px;
            border-radius: 5px;
            transition: height 300ms ease;
            
            @media (min-width: 380px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (min-width: 450px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media (min-width: 600px) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            @media (min-width: 900px) {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }
            span.record{
                font-size: 1em;
                background: color($colors, light);
                border-radius: 5px;
                margin: 5px 5px 0px 5px;
                padding: 5px 0px 5px 10px;
            }
        }
    }
}
