page-timer {
    div.scroll-content{
        background: color($colors, dark);
    }    
    div.time{
        width: 100%;
        color: white;
        h1{
            font-size: 5em;
            color: white;
            &.lookTime {
              color: color($colors, primary);  
            }
            &.running {
                color: color($colors, secondary);  
            }
        }
    }

    div.date > p {
        margin: 0px 10px;
        color: white;
    }
    div.records{
        display: grid;       
        padding: 0px 10px 10px 10px;
        span{
            font-size: 2em;
            background: color($colors, light);
            border-radius: 5px;
            margin: 5px 10px 0px 10px;
            padding: 5px 0px 5px 10px;

            &.avg{
                margin: 5px 0px 0px 0px;
                background: color($colors, primary);
            }
        }
    }
}
